# Using Webscraping to Extract IBM Data

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

I will download and read the HTML page with the request library

In [5]:
URL = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html"

# read data and store in variable "html_data"
html_data = requests.get(URL).text

In [29]:
#We will parse the data usibg beautifull soup (bs4)

soup = BeautifulSoup(html_data, 'html5lib')

print(soup.title) 
#viewing into the table to see what columns you need
# print(soup.find("thead").find_all("th"))

<title>Amazon.com, Inc. (AMZN) Stock Historical Prices &amp; Data - Yahoo Finance</title>

In [31]:
# return the table to a dataframe and print it out

amazon_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text
    
    amazon_data = amazon_data.append({"Date":date, "Open":Open, "High":high, "Low":low, "Close":close, "Adj Close":adj_close, "Volume":volume}, ignore_index=True)

In [32]:
amazon_data.head()

           Date      Open      High       Low     Close       Volume Adj Close
0  Jan 01, 2021  3,270.00  3,363.89  3,086.00  3,206.20   71,528,900  3,206.20
1  Dec 01, 2020  3,188.50  3,350.65  3,072.82  3,256.93   77,556,200  3,256.93
2  Nov 01, 2020  3,061.74  3,366.80  2,950.12  3,168.04   90,810,500  3,168.04
3  Oct 01, 2020  3,208.00  3,496.24  3,019.00  3,036.15  116,226,100  3,036.15
4  Sep 01, 2020  3,489.58  3,552.25  2,871.00  3,148.73  115,899,300  3,148.73

In [38]:
#geting the last row of the data frame 

amazon_data.iloc[-1:]

            Date    Open    High     Low   Close       Volume Adj Close
60  Jan 01, 2016  656.29  657.72  547.18  587.00  130,200,900    587.00